/*
Error: Invalid CSS after "      height": expected ";", was ": auto;"
        on line 68 of C:/Users/sarhov/Dropbox/My_projects/sarhov.com/website/sass/main.scss

63:     display: inline-block;
64:     background:#000;
65:     img {
66:       filter: contrast(2);
67:       -webkit-filter: contrast(2)
68:       height: auto;
69:       max-height: 100%;
70:       max-width: 100%;
71:       // transform: rotate(3deg) scale(1.25) translate(-2px, 4px);
72:       transition: all 0.3s ease 0s;
73:     }

Backtrace:
C:/Users/sarhov/Dropbox/My_projects/sarhov.com/website/sass/main.scss:68
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1165:in `expected'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1101:in `expected'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1096:in `tok!'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:761:in `block in try_declaration'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `call'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:1141:in `rethrow'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:766:in `try_declaration'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:661:in `block_child'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:642:in `block'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:635:in `ruleset'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:660:in `block_child'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:653:in `block_contents'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/scss/parser.rb:42:in `parse'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:393:in `_to_tree'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `each'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      height\": expected \";\", was \": auto;\"\A         on line 68 of C:/Users/sarhov/Dropbox/My_projects/sarhov.com/website/sass/main.scss\A \A 63:     display: inline-block;\A 64:     background:#000;\A 65:     img {\A 66:       filter: contrast(2);\A 67:       -webkit-filter: contrast(2)\A 68:       height: auto;\A 69:       max-height: 100%;\A 70:       max-width: 100%;\A 71:       // transform: rotate(3deg) scale(1.25) translate(-2px, 4px);\A 72:       transition: all 0.3s ease 0s;\A 73:     }"; }
