@import "compass";
@import "base";
@import "syntax-highlighting";

*, *:before, *:after {
  @include box-sizing(border-box);
}

.clearfix {
  @include pie-clearfix;
  background: none;
}
a{
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

body {
    font-size: 16px;
    // flex-direction: row;
    min-height: 100vh;
    // available fonw-weights:  200, 300, 400, 600,
    background:#1e1e1e;
    color: #ddd;
    font-family: sans-serif;
  }

/* b-account */

.b-account{
  padding-top: 10%;
  width: 30%;
  margin: auto;
  text-align: center;
  &__link{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
    display: inline-block;
    background:#000;
  }

  &__text{
    padding-bottom: 15px;
    border-bottom: 1px solid #342929;
    margin-bottom: 15px;
  }

  &__title{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
  }

  &__description{
    font-size: 16px;
    margin: 0;
    font-weight: normal;
  }

  // media

  @media screen and (max-width: 800px){
    width: 90%;
  }
}

/* END b-account */

/* b-contact */
.b-contact{
  &__link{
    color: #F3FFD9;
    border-bottom: 1px dotted transparent;
    font-size: 12px;
    &:hover{
      border-bottom-color: #ddd;
      color: #ddd;
    }
  }
  &__text{
    font-size: 12px;
    font-style: italic;
    margin: 0 5px;
  }
}
/* END b-contact */