<div id="footerButtons" class="sticky-footer">
	<a href="/products/pre-workout" class="pull-left left-footlinks link-iconed"> 
		<i class="fa fa-angle-left"></i> PREVIOUS PAGE
	</a>

	<a href="/cart" id="nextProduct" class="btn-red">NEXT STEP</a>

	<a href="/cart" class="pull-right footlinks  link-iconed">GO TO CHECKOUT <i class="fa fa-angle-right"></i> </a>
</div>