  <div class="testimonials">
    <div class="page-width">
      <div id="testimonials" class="testimonials__list">

         <div class="testimonials__item text-center">
        I just finished my first month using all five products and WOW I can FEEL the difference.  My energy is back, I feel motivated, and I can push myself harder in workouts.  I cant wait for the next month’s supply to arrive.
        </div>

         <div class="testimonials__item text-center">
        These supplements have made a huge difference.  I am losing weight faster and feeling great.  On top of all that, you just cant beat the price!.
        </div>

         <div class="testimonials__item text-center">
        I was buying supplements at GNC but after comparing the labels, Feel Rich has far better ingredients and at far better prices.  I also feel like I am a part of a great community of women just like me.  
        </div>

         <div class="testimonials__item text-center">
        I having been taking the Focus and Energy and Pre Workout Amplifier for a month now. I had reached a plateau in my weight loss before and these two products have gotten me past this plateau and I am on my way to losing the last 17 lbs to reach my weight loss goal.
        </div>

         <div class="testimonials__item text-center">
        Amazing products and awesome company.  The prices are great and the monthly shipments right to my door have been super convenient.  Life is busy and I don’t have to make a separate trip to the store.  
        </div>

         <div class="testimonials__item text-center">
        I have been taking the Focus and Energy, Probiotic, Pre Workout, and BCAAs for three months and I can really feel the difference! There is no substitute for eating right and working out but I feel like I have more energy and I am losing weight faster.  Love the products!
        </div>

      </div>
      <!-- /#testimonials.testimonials__list -->
    </div>

  </div>
  <!-- /.testimonials -->
