<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,maximum-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %} Shopify Expert / Web Developer | Hovhannes Sargsyan  {% endif %}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">  -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500" rel="stylesheet">

  <meta name="description" content="{{ site.data.info.description }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ "css/style.css" | prepend: site.baseurl }}">
  {% if page.index_type == 'noindex' %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% if page.layout == 'tools' %}
    <link rel="stylesheet" href="{{ "css/tools.css" | prepend: site.baseurl }}">
    {% if page.template == 'tools-tabs' %}
      <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    {% endif %}
    {% if page.template == 'html-editor' %}
      <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    {% endif %}
  {% endif %}

  {% if page.layout == 'tools' %}
    <link rel="stylesheet" href="{{ "css/tools.css" | prepend: site.baseurl }}">
    {% if page.template == 'tools-table' %}
      <link rel="stylesheet" href="{{ "css/tools_tables.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "css/tools_tables_content.css" | prepend: site.baseurl }}">
    {% endif %}
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}img/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl}}img/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="{{site.baseurl}}img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{site.baseurl}}img/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{site.baseurl}}img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.baseurl}}img/favicons/manifest.json">
  <link rel="shortcut icon" href="{{site.baseurl}}img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}img/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="{{site.baseurl}}img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Yandex.Metrika counter -->
  {% if site.baseurl == 'https://sarhov.com/' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123356893-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123356893-1');
  </script>

  {% endif %}

  <!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('84wbssxyvkkc');
</script>
<!-- End of Async Drift Code -->
</head>
