
{% if page.template == 'tools-tabs' %}
  <script src="https://cdn.quilljs.com/1.2.6/quill.js"></script>
  <script src="{{'tools/tabs-generator/tabs_generator.js' | prepend: site.baseurl}}"></script>
{% endif %}

{% if page.template == 'html-editor' %}
  <script src="https://cdn.quilljs.com/1.2.6/quill.js"></script>
  <script src="{{'tools/html-editor/html_editor.js' | prepend: site.baseurl}}"></script>
{% endif %}

{% if page.template == 'tools-table' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.14/beautify-html.min.js"></script>
  <script src="{{'tools/table-generator/table.js' | prepend: site.baseurl}}"></script>
{% endif %}