.inner-page{
	&.tools-page{
		background: #fff;
		.b-wrap_header{
			background: rgba(68,68,68, 1) url('../img/pattern.png') left top repeat;
		}
		.b-content{
			position: relative;
			z-index: 2;
		}
	}
}

.b-tools-header{
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.b-tools{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	@media screen and (max-width: 680px){
		flex-direction: column;
	}
	&__intro{
		margin-bottom: 15px;
		max-width: 600px;
		border-radius: 4px;
		background: #ececec;
		padding: 15px;
		line-height: 1.5;
	}
	&__generate{
		margin-bottom: 30px;
	}
	&__generate-button{
		text-transform: uppercase; 
		letter-spacing: 1.5px;
		font-size: 16px;
		padding: 10px 20px;
		background: #9c0;
		border-radius: 2px;
		cursor: pointer;
		border: none;
		&:hover{ 
			opacity: 0.8;
		}
	}
	&__action{
		padding-right: 30px; 
		width: 50%;
		&_table{
			width: 100%;
			max-width: 800px;
		}
	}
	&__result{
		width: 50%;
		padding-right: 30px; 
	}
}

.tools-wrap{
	color: #444;
}

.show-placeholder + div{
	display: none !important;
}
.ql-editor{
	min-height: 300px;
	max-height: 400px;
	overflow: auto;
}
.b-tabs-action{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		justify-content: stretch;
	}
	&__remove{
		font-size: 8px;
		margin-right: 5px;
		vertical-align: middle;
		opacity: 0.3;
		position: absolute;
		top: 0px;
		right: 0px;
		background: #ddd;
		border: none;
		padding: 0;
		width: auto;
		cursor: pointer;
		width: 15px;
		height: 15px;
		margin: 0;
		&.is-hidden {
			display: none;
		}
		&:hover{
			opacity: 1;
		}
	}
	&__item{
		float: left;
		margin-right: 10px;
		// cursor: pointer;
		text-align: center;
		&:focus{
			cursor: text;
		}
		&-text{
			// cursor: text;
			&:focus{
				cursor: text;
				&:focus{
					+ .fa{
						opacity: 1;
					}
				}
			}
		}
		&_title{
			border: 1px solid #ccc;
			padding: 11px 15px;
			border-bottom: none;
			min-width: 100px;
			position: relative;
			background: #fff;
			height: 41px;	
			&:hover, &:focus{
				.fa{
					opacity: 1;
				}
			}
			&.is-active:before{
				content: '';
				width: 100%;
				background: #fff;
				position: absolute;
				height: 1px;
				z-index: 2;
				left: 0;
				bottom:-1px;
			}
		}
		&:last-child{
			margin-right: 0;
		}
		&_plus{
			position: relative;
			top: 15px;
			font-size: 12px;
			margin-left: 6px;
			cursor: pointer;
			transition: all 0.2s;
			&:hover{
				opacity: 0.7;
			}
		}
	}
	&__item-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}
}

.b-tabs-editor{
	&__item{
		display: none;
		&.is-active{
			display: block;
		}
		&::before {
	    content: 'Content for tab - ' attr(data-index);
	    background: #f3f3f3;
	    width: auto;
	    padding: 8px;
	    display: inline-block;
	    font-size: 12px;
	    font-weight: bold;
	    border-radius: 0px 0px 0 0;
	    width: auto;
	    display: block;
	    box-shadow: 0px -2px 0px #d7d27a;
		}
	}
}