---
title: Tabs generator by sarhov
permalink: 'shopify-tools-tab-generators'
layout: tools
published: true 
template: tools-tabs
description: |
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
---



<div class="b-tools">

  <div class="b-tools__action">
  	<div class="b-tabs-action">

			<div class="b-tools-header">
				<div class="editor">
					<p>
						Add/remove tabs, edit the titles clicing on tabs
					</p>
				</div>
			</div>

  		<ul class="b-tabs-action__list jsActionTabList clearfix">
  			{% for i in (1..3) %}
  			<li class="b-tabs-action__item b-tabs-action__item_title jsActionTabItem {% if forloop.index == 1 %}is-active {% endif %}" data-index="{{forloop.index}}">
					<span class="b-tabs-action__item-text jsTitleText" contenteditable>Title - {{forloop.index}}</span>
  				<button class="jsActionRemoveTab b-tabs-action__remove">
  					<i class="fa fa-times"></i>
  				</button>
  			</li>
  			{% endfor %}
		  	<li class="b-tabs-action__item_plus b-tabs-action__item jsActionAddTab">
		  		<i class="fa fa-plus"></i>
		  	</li>
  		</ul>
  	</div>
  	<div class="b-tabs-editor">
  		<div class="b-tabs-editor__item jsEditorItem" data-index="0">
  			<div id="editor">
  			  <p>Hello World!</p>
  			  <p>Some initial <strong>bold</strong> text</p>
  			  <p><br></p>
  			</div>
  		</div>
  	</div>

  </div>


  <div class="b-tools__result">
    <div class="fr-view">
      Here comes the HTML edited with the Froala rich text editor.
    </div>
  </div>
</div>



