

<!DOCTYPE html>
<html>
{% comment  %}
{% include head.html %}

<body>
  <div class="b-wrap b-wrap_header">
    <div class="b-inner">
      <div class="b-account">
        <a href="" class="b-account__link">
          <img src="{{site.baseurl}}img/avatar.png" alt="sarhov | shopify expert, web developer" class="b-account__img">
        </a>
        <!-- b-account__link -->
        <div class="b-account__text">
         <h1 class="b-account__title">
            {{site.data.info.title}}
         </h1>
          <!-- /.b-account__title -->
          <h2 class="b-account__description">
            {{site.data.info.description}}
          </h2>
        </div>
        <!-- /.b-account__text -->
        <div class="b-contact">
          <span class="b-contact__text">Contact: via Email</span>
          <a href="mailto:sarhov@sarhov.com" class="b-contact__link b-contact__link_email">sarhov@sarhov.com</a>
          <span class="b-contact__text"> | &nbsp; or via Skype</span>
          <a href="#" class="b-contact__link b-contact__link_skype">sarhov</a>
        </div>
        <!-- /.b-contact -->
        </div>
      <!-- /.b-account -->
    </div>
    <!-- b-inner -->
  </div>
  <!-- /.b-wrap b-wrap_header -->
</body>
{% endcomment %}


</html>

