<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="b-wrap b-wrap_header">
    <div class="b-inner">
      <div class="b-account">
        <a href="{{site.baseurl}}" class="b-account__link">
          <img src="{{site.baseurl}}img/avatar.png" alt="sarhov | shopify expert, web developer" class="b-account__img">
        </a>
        <!-- b-account__link -->
        <div class="b-account__text">
         <h1 class="b-account__title">
          {{site.data.info.real_name}}
        </h1>
        <small class="b-account__name">
          {{site.data.info.title}}
        </small>
        <!-- /.b-account__title -->
        <h2 class="b-account__description">
          {{site.data.info.description}}
        </h2>
      </div>
      <!-- /.b-account__text -->
      <div class="b-contact">
        <span class="b-contact__text b-contact__text_title">Contact</span>
        <div class="b-contact__line">
          <span class="b-contact__text">Email:</span>
          <a href="mailto:sarhov@sarhov.com" class="b-contact__link b-contact__link_email">sarhov@sarhov.com</a>
        </div>
        <!-- /.b-contact__line -->

        <div class="b-contact__line">
          <span class="b-contact__text">Skype:</span>
          <a href="skype:sarhov?chat" class="b-contact__link b-contact__link_skype">sarhov</a>
        </div>
        <!-- /.b-contact__line -->
      </div>
      <!-- /.b-contact -->

      <div class="b-hire">
        <a title="Hire Shopify Expert on UpWork (oDesk)" href="https://www.upwork.com/users/~014912c3618a182ed7" class="b-hire__link">Hire Me On</a>
      </div>
    </div>
    <!-- /.b-account -->
  </div>
  <!-- b-inner -->
</div>
<!-- /.b-wrap b-wrap_header -->
{% if site.posts.size > 0 %}
<div class="b-content">

  {% if page.template == 'index' %}
  <div class="b-content__title">Last Articles</div>
  <!-- /.b-content__title -->
  {% endif %}
  {{content}}
</div>
<!-- /.b-content -->
{% endif %}
</body>

</html>

