<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="b-wrap b-wrap_header">
    <div class="b-inner">
      <div class="b-account">
        <a href="{{site.baseurl}}" class="b-account__link"> 
          <img src="{{site.baseurl}}img/avatar.png" alt="sarhov | shopify expert, web developer" class="b-account__img">
        </a>
        <!-- b-account__link -->
        <div class="b-account__text">
         <h1 class="b-account__title">
          {{site.data.info.real_name}}
          <small style="display: block;height: 0; visibility: hidden; width: 0;"> / Shopify Expert</small>
        </h1>
        <h2 class="b-account__name">
          {{site.data.info.title}}
        </h2>
        <!-- /.b-account__title -->
        <h3 class="b-account__description">
          {{site.data.info.description}}
        </h3>
      </div>
      <!-- /.b-account__text -->
      <div class="b-contact">
        <span class="b-contact__text b-contact__text_title">Contact</span>
        <div class="b-contact__line">
          <span class="b-contact__text">Email:</span>
          <a href="mailto:sarhov@sarhov.com" class="b-contact__link b-contact__link_email">sarhov@sarhov.com</a>
        </div>
        <!-- /.b-contact__line -->

        <div class="b-contact__line">
          <span class="b-contact__text">Skype:</span>
          <a href="skype:sarhov?chat" class="b-contact__link b-contact__link_skype">sarhov</a>
        </div>
        <!-- /.b-contact__line -->
      </div>
      <!-- /.b-contact -->

      <div class="b-hire">
        <a title="Hire Shopify Expert on UpWork (oDesk)" href="https://www.upwork.com/users/~014912c3618a182ed7" class="b-hire__link">Hire Me On</a>
      </div>
    </div>
    <!-- /.b-account -->
  </div>
  <!-- b-inner -->
</div>
<!-- /.b-wrap b-wrap_header -->

<div class="b-content {{page.layout}}">

  <div class="b-content__inner clearfix">
    <div class="b-content__left"> 
      {% if page.template == 'index' and site.posts.size > 0 %}
      <div class="b-content__title">Last Articles</div>
      <!-- /.b-content__title -->
      {% endif %}
      <div class="b-content__content">
        {{content}}
      </div>
    </div>

    <div class="b-content__right">

    </div>
  </div>


</div>
<!-- /.b-content -->

</body>

</html>

